.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #264653;
}

.header {
    display: flex;
    justify-content: center;
    font-family: Poppins, Helvetica Nueu, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    margin-bottom: 60px;
}

.board {
    width: 344px;
}

.board-row {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    font-family: Poppins, Helvetica Nueu, sans-serif;
    font-size: 40px;
    font-weight: bold;
    border-radius: 8px;
    color: #FFF;
    background-color: #132e3b;
    text-transform: uppercase;
    cursor: pointer;
}

.active {
    border: 4px solid #FFF;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: transparent;
}

.edit {
    border-bottom: 10px solid #FFF;
    box-sizing: border-box;
}
