<div class="container">
  <div class="header">
    Termo
  </div>

  <div class="board">
    <div class="board-row" row="0">
      <div class="letter active edit" pos="0" (click)="onClick($event)"></div>
      <div class="letter active" pos="1" (click)="onClick($event)"></div>
      <div class="letter active" pos="2" (click)="onClick($event)"></div>
      <div class="letter active" pos="3" (click)="onClick($event)"></div>
      <div class="letter active" pos="4" (click)="onClick($event)"></div>
    </div>

    <div class="board-row" row="1">
      <div class="letter" pos="0" (click)="onClick($event)"></div>
      <div class="letter" pos="1" (click)="onClick($event)"></div>
      <div class="letter" pos="2" (click)="onClick($event)"></div>
      <div class="letter" pos="3" (click)="onClick($event)"></div>
      <div class="letter" pos="4" (click)="onClick($event)"></div>
    </div>

    <div class="board-row" row="2">
      <div class="letter" pos="0" (click)="onClick($event)"></div>
      <div class="letter" pos="1" (click)="onClick($event)"></div>
      <div class="letter" pos="2" (click)="onClick($event)"></div>
      <div class="letter" pos="3" (click)="onClick($event)"></div>
      <div class="letter" pos="4" (click)="onClick($event)"></div>
    </div>

    <div class="board-row" row="3">
      <div class="letter" pos="0" (click)="onClick($event)"></div>
      <div class="letter" pos="1" (click)="onClick($event)"></div>
      <div class="letter" pos="2" (click)="onClick($event)"></div>
      <div class="letter" pos="3" (click)="onClick($event)"></div>
      <div class="letter" pos="4" (click)="onClick($event)"></div>
    </div>

    <div class="board-row" row="4">
      <div class="letter" pos="0" (click)="onClick($event)"></div>
      <div class="letter" pos="1" (click)="onClick($event)"></div>
      <div class="letter" pos="2" (click)="onClick($event)"></div>
      <div class="letter" pos="3" (click)="onClick($event)"></div>
      <div class="letter" pos="4" (click)="onClick($event)"></div>
    </div>

    <div class="board-row" row="5">
      <div class="letter" pos="0" (click)="onClick($event)"></div>
      <div class="letter" pos="1" (click)="onClick($event)"></div>
      <div class="letter" pos="2" (click)="onClick($event)"></div>
      <div class="letter" pos="3" (click)="onClick($event)"></div>
      <div class="letter" pos="4" (click)="onClick($event)"></div>
    </div>
  </div>
  
  <div class="keyboard"></div>
</div>